* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;   }
html {
   font-family: sans-serif;
   font-size: 62.5%;   }
@media (max-width : 768px) {
   html {
      font-size: 43.75%;
   }   }
/*---------------*/
.slide {
   width: 50rem;
   height: 70rem;
   display: flex;
   flex-direction: column;
   margin: 1vh auto;
   border: 2px solid darkgoldenrod;    }
.slide h1 {
   line-height: 7rem;
   text-align: center;
   font-size: 4rem;
   color: darkgoldenrod;   }
.slide .imgs {
   width: 100%;
   height: 55rem;
   position: relative;   }
.slide .imgs img {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;   }
.slide .imgs img.active {
   opacity: 1;   }
.slide .control {
   height: 8rem;
   width: 100%;
   padding: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;   }
.slide button {
   font-size: 2rem;
   color: white;
   background-color: rgba(184, 135, 11, 0.8);
   cursor: pointer;
   border-radius: 1rem;
   transition: 0.4s;
   padding: 1rem 2rem;
   border: none;   }
.slide button:hover {
   background-color: darkgoldenrod;   }
.slide ul {
   list-style: none;
   display: flex;
   gap: 0.5rem ;   }
.slide ul li {
   font-size: 2rem ;
   width: 3rem;
   height: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   background-color: darkgoldenrod;
   border-radius: 50%;
   opacity: 0.5;
   transition: 0.4s; 
   cursor: pointer;   }
.slide ul li:hover ,
.slide ul li.active {
   opacity: 1;    }

